header#header
        #header-masthead
          .container
            .row
              .col.d-flex.j-between
                #header-logo
                  a.header-logo(href='/', title='Digital Talents')
                    span.tab-txt(style='\
                    font-size: 30px;\
                    margin-bottom: 0;\
                    color: #000000;\
                    font-weight: 600;\
                    ')
                      | Digital Talents
                #header-wrapper.clearfix
                  nav#header-nav
                    ul.nav-list.visible-lg-table.center-block.header-nav-container
                      li.tab
                        a.coupons(href='#', title='Coupons')
                          span.tab-txt Coupons
                      li.tab.pos-rel.hasDropdown.hideDropdown
                        a(href='#', title='vendor')
                          span.tab-txt Vendors
                      li.tab.pos-rel.hasDropdown.hideDropdown
                        a(href='#', title='Categories')
                          span.tab-txt Categories
                #header-account
                  if user
                    ul.nav-list.inline-list.visible-lg-block
                      li.tab.action.logout
                        a(href='/logout')
                          span.tab-txt Logout
                      li.tab.action
                        a(href="#") 
                          span.tab.txt=`Welcome ${user.name}`
                  else
                    ul.nav-list.inline-list.visible-lg-block
                      li.tab.action.signup
                        a(href='/signup')
                          span.tab-txt Sign Up
                      li.tab.action.login.last
                        a(href='/login')
                          span.tab-txt Login
                .toggle-group
                  a#toggle-menu.toggle(href='#', title='Menu', aria-expanded='false', aria-label='Toggle navigation')
                    i.icon.fas.fa-bars(aria-hidden='true')
        #content-overlay.hideOverlay