extends base

block content
    #panel-login.page-section.mw-75-md.mw-50-lg.txt-center.txt-left-lg.center-block.clearfix
      h2 Log in to Your Digital Talent Account
      form.clearfix
        input(type='hidden')
        .form-content
          fieldset.form-group
            input#j_username.rnd.login-field.w-100(type='text', placeholder='Email Address or Username', aria-label='Email Address or Username')
          fieldset.form-group
            input#j_password.rnd.pwd-field.w-100(type='password', placeholder='Password', maxlength='101', aria-label='Password')
          input.btn.btn-submit.blue.btn-md(type='submit')
      .flexbox-md.space-between.m-t-1.f-14.txt-center
        p
          a(href='/signup') Don&apos;t Have an Account?
        p
          a(target='_top', href='#', rel='nofollow') Forgot Password?