extends base

block content
  #main(role='main')
        section.hero(style='background-color: #fff7f3')
          .container
            .row
              .col
                .herodeal
                  .herodeal__bg_img(style='\
                  background-image: url(./img/51145302542.jpg?width=760);\
                  ')
                  .pos-rel
                    .herodeal__bg_color
                      span.block.flex1(style='background-color: #fae3d7')
                      span.herodeal__circle(style='background-color: #fae3d7')
                    .herodeal__wrapper
                      .herodeal__logo
                        p.page-title-xl.herodeal__title
                          | Best Vendor&apos;s Deal
                      .herodeal__content
                        h1.page-title-xl.herodeal__title
                          | Free Shipping
                        h2.page-sub-title.herodeal__subtitle
                          | On Orders Over NGN2500
                        button.btn.blue.ga-promo(onclick="location.href = '#';", type='button')
                          span.btn-text Shop Now
        section.deal-cards.page-section(style='overflow: hidden')
          .container
            .row
              .col
                h3.section-header.section-header-md
                  | Trending Coupons
                ul.list-deals.deal-cards__list.flexbox-md.flex-wrap.j-between
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8861085.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #e11a2b')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') OPEN
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8848012.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal(data-offer-id='13482277')
                      input(type='hidden', name='property-detail-url')
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #f96302')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') FREE
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-6847297.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.hasCode.codePeek.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref(data-original='../node2.sdccdn.com/images/savings/logo/4957371.jpg')
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #056ba8')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.orange(style='position: absolute; top: 12px; right: 12px') PREMIUM
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8848012.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal(data-offer-id='13482277')
                      input(type='hidden', name='property-detail-url')
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #f96302')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') FREE
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8861085.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #e11a2b')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') OPEN
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-6847297.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.hasCode.codePeek.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref(data-original='../node2.sdccdn.com/images/savings/logo/4957371.jpg')
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #056ba8')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.orange(style='position: absolute; top: 12px; right: 12px') PREMIUM
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-6847297.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.hasCode.codePeek.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref(data-original='../node2.sdccdn.com/images/savings/logo/4957371.jpg')
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #056ba8')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.orange(style='position: absolute; top: 12px; right: 12px') PREMIUM
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8848012.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal(data-offer-id='13482277')
                      input(type='hidden', name='property-detail-url')
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #f96302')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') FREE
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8848012.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal(data-offer-id='13482277')
                      input(type='hidden', name='property-detail-url')
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #f96302')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') FREE
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8848012.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal(data-offer-id='13482277')
                      input(type='hidden', name='property-detail-url')
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #f96302')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') FREE
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8861085.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #e11a2b')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') OPEN
                  li.deal-cards__wrapper.w-100.flexbox-md.flex-col
                    #d-8861085.feature-block.module-deal.flexbox.flex-col.flex1.pos-rel.topDeal
                      .feature-block__top.block.bg-img.lazy.pos-rel.deal-ref
                        .stretch.flexbox.j-center.a-center
                          span.background-logo.shadow--large.background-logo--large(style='background-color: #e11a2b')
                      .feature-block__content.flexbox.flex1.flex-col
                        div(style='margin-bottom: 5px')
                          strong.slug.f-12 Coupon #
                        .feature-block__info.flex1
                          h3.feature-block__title.f-20.deal-ref
                            | Description #
                      span.roleBadge.roleBadge--large.blue(style='position: absolute; top: 12px; right: 12px') OPEN
        section#featured-merchants.page-section(style='background-color: #f9fbfc')
          .container
            .row
              .col
                h3.section-header.section-header-md
                  | Popular Vendors
                ul.flexbox-md.flex-wrap.j-between
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #0067a0')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #ec773b')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #000000')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #e60d2e')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #000000')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #b30201')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #222222')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #e35929')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #004680')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #e71324')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #4e4b87')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
                  li.flexbox.a-center.w-50-md.w-33-lg.m-b-3
                    .p-r-1
                      span.background-logo.shadow--large.background-logo--medium(style='background-color: #cc0000')
                    .flex1
                      h4.m-b-0
                        a.link-black(href='#', title='Vendor #') Vendor #
        section.hiw.bg-aqua.page-section--large
          .container
            .row
              .col
                h3.section-header.section-header-md.txt-aqua.txt-center
                  | How It Works
                .hiw__text-container.flex
                  .hiw__text-col.markdown.txt-center
                    strong.hiw__text-title What are coupon codes?
                    p
                      | Coupon codes usually consist of numbers and letters that
                      | an online shopper can use when checking out on an
                      | e-commerce site to get a discount on their purchase.
                  .hiw__text-col.markdown.txt-center
                    strong.hiw__text-title How can I find the best coupons?
                    p
                      | There are many companies that have free coupons for online
                      | and in-store money-saving offers. Using Digital Talent&apos;s
                      | online store can help you find the best and largest
                      | discounts available online.
                  .hiw__text-col.markdown.txt-center
                    strong.hiw__text-title How to find promo codes that work.
                    p
                      | Save time searching for promo codes that work by using
                      | Digital Talent&apos;s online store. We work with merchants to
                      | offer promo codes that will actually work to save you
                      | money.